### put your augmented data in the directory but do not upload to git repository
### the context directory expected to be the top directory of one or more subdirectory containing events dataset directories (inc. 'rumours' and 'non-rumours'), see format of PHEME dataset for details
### we are using PHEME 6392078 dataset (https://figshare.com/articles/PHEME_dataset_for_Rumour_Detection_and_Veracity_Classification/6392078)
### "aug-rnr-merge-data-23052019-balance" link is the augmented data merged with the original PHEME (6392078)

### Tips: you can save your dataset anywhere in your PC and set a shortcut/symlink in this directory

# IntelliJ project files
.idea
*.iml
out
gen
*.lnk
*
!.gitignore
!readme.md
